USE [master]
GO
/****** Object:  Database [WebTracNghiem]    Script Date: 28/04/2024 6:25:12 CH ******/
CREATE DATABASE [WebTracNghiem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WebTracNghiem', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\WebTracNghiem.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WebTracNghiem_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\WebTracNghiem_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WebTracNghiem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WebTracNghiem]
GO
/****** Object:  Table [BaiThi]    Script Date: 28/04/2024 6:25:12 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [BaiThi](
	[IdBaiThi] [int] IDENTITY(1,1) NOT NULL,
	[IdTrangThai] [int] NOT NULL,
	[IdMonHoc] [int] NOT NULL,
	[TenBaiThi] [nvarchar](250) NOT NULL,
	[SoCauHoi] [int] NOT NULL,
	[ThoiGianThi] [int] NOT NULL,
	[NgayThi] [datetime] NOT NULL,
	[GhiChu] [nvarchar](250) NULL,
	[NgayTao] [datetime] NULL,
 CONSTRAINT [PK__BaiThi__4552E9037C22FCC1] PRIMARY KEY CLUSTERED 
(
	[IdBaiThi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [CauHoi]    Script Date: 28/04/2024 6:25:12 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CauHoi](
	[IdCauHoi] [int] IDENTITY(1,1) NOT NULL,
	[IdMonHoc] [int] NOT NULL,
	[IdMucDo] [int] NOT NULL,
	[CauHoi] [nvarchar](250) NOT NULL,
	[DapAn_A] [nvarchar](250) NOT NULL,
	[DapAn_B] [nvarchar](250) NOT NULL,
	[DapAn_C] [nvarchar](250) NOT NULL,
	[DapAn_D] [nvarchar](250) NOT NULL,
	[DapAn_Dung] [nchar](1) NOT NULL,
	[GhiChu] [nvarchar](250) NULL,
	[NgayTao] [datetime] NULL,
 CONSTRAINT [PK__CauHoi__7F0B00FFAEFE6AB9] PRIMARY KEY CLUSTERED 
(
	[IdCauHoi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [CauHoi_BaiThi]    Script Date: 28/04/2024 6:25:12 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CauHoi_BaiThi](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdBaiThi] [int] NOT NULL,
	[IdCauHoi] [int] NOT NULL,
 CONSTRAINT [PK__CauHoi_B__3214EC076F06A65B] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ChiTietBaiThi]    Script Date: 28/04/2024 6:25:12 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ChiTietBaiThi](
	[IdCTBT] [int] IDENTITY(1,1) NOT NULL,
	[Id] [int] NOT NULL,
	[IdTaiKhoan] [int] NOT NULL,
	[DapAn_A] [nvarchar](250) NOT NULL,
	[DapAn_B] [nvarchar](250) NOT NULL,
	[DapAn_C] [nvarchar](250) NOT NULL,
	[DapAn_D] [nvarchar](250) NOT NULL,
	[DapAn_HocSinh] [nchar](1) NULL,
 CONSTRAINT [PK__ChiTietB__49B7A6C3627F5A60] PRIMARY KEY CLUSTERED 
(
	[IdCTBT] ASC,
	[Id] ASC,
	[IdTaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [GopY]    Script Date: 28/04/2024 6:25:12 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [GopY](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdBaiThi] [int] NOT NULL,
	[IdTaiKhoan] [int] NOT NULL,
	[NoiDung] [nvarchar](250) NOT NULL,
	[ThoiGian] [datetime] NOT NULL,
 CONSTRAINT [PK__GopY__3214EC07E164535C] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [KetQua]    Script Date: 28/04/2024 6:25:12 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [KetQua](
	[IdDiem] [int] IDENTITY(1,1) NOT NULL,
	[IdTaiKhoan] [int] NOT NULL,
	[IdBaiThi] [int] NOT NULL,
	[SoDiem] [float] NOT NULL,
	[ThoiGianBatDau] [datetime] NULL,
	[ThoiGianKetThuc] [datetime] NULL,
 CONSTRAINT [PK__KetQua__F16896C8A55997B2] PRIMARY KEY CLUSTERED 
(
	[IdDiem] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Lop]    Script Date: 28/04/2024 6:25:12 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Lop](
	[IdLop] [int] IDENTITY(1,1) NOT NULL,
	[TenLop] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK__Lop__0C54DBFD8E5A18C2] PRIMARY KEY CLUSTERED 
(
	[IdLop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [MonHoc]    Script Date: 28/04/2024 6:25:12 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [MonHoc](
	[IdMonHoc] [int] IDENTITY(1,1) NOT NULL,
	[TenMonHoc] [nvarchar](30) NOT NULL,
	[NgayTao] [datetime] NULL,
 CONSTRAINT [PK__MonHoc__A868CD92B12549D1] PRIMARY KEY CLUSTERED 
(
	[IdMonHoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [MucDo]    Script Date: 28/04/2024 6:25:12 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [MucDo](
	[IdMucDo] [int] IDENTITY(1,1) NOT NULL,
	[TenMucDo] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK__MucDo__2A87A197034CF114] PRIMARY KEY CLUSTERED 
(
	[IdMucDo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [TaiKhoan]    Script Date: 28/04/2024 6:25:12 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TaiKhoan](
	[IdTaiKhoan] [int] IDENTITY(1,1) NOT NULL,
	[IdLop] [int] NOT NULL,
	[IdVaiTro] [int] NOT NULL,
	[TaiKhoan] [varchar](30) NOT NULL,
	[MatKhau] [varchar](50) NOT NULL,
	[HoTen] [nvarchar](50) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[SDT] [varchar](20) NULL,
	[NgaySinh] [datetime] NULL,
	[GioiTinh] [nvarchar](3) NULL,
	[DiaChi] [nvarchar](100) NULL,
 CONSTRAINT [PK__TaiKhoan__9A53D3DDBFB17263] PRIMARY KEY CLUSTERED 
(
	[IdTaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [TrangThai]    Script Date: 28/04/2024 6:25:12 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TrangThai](
	[IdTrangThai] [int] IDENTITY(1,1) NOT NULL,
	[TenTrangThai] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK__TrangTha__2754992C4E981E74] PRIMARY KEY CLUSTERED 
(
	[IdTrangThai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [VaiTro]    Script Date: 28/04/2024 6:25:12 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [VaiTro](
	[IdVaiTro] [int] IDENTITY(1,1) NOT NULL,
	[TenVaiTro] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK__VaiTro__491B115C07CD43BF] PRIMARY KEY CLUSTERED 
(
	[IdVaiTro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [XepHang]    Script Date: 28/04/2024 6:25:12 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [XepHang](
	[IdXepHang] [int] IDENTITY(1,1) NOT NULL,
	[IdBaiThi] [int] NOT NULL,
	[IdDiem] [int] NOT NULL,
	[XepHang] [int] NOT NULL,
 CONSTRAINT [PK__XepHang__6EA0703BF06F5881] PRIMARY KEY CLUSTERED 
(
	[IdXepHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [Lop] ON 

INSERT [Lop] ([IdLop], [TenLop]) VALUES (1, N'Lớp 10')
INSERT [Lop] ([IdLop], [TenLop]) VALUES (2, N'Lớp 11')
INSERT [Lop] ([IdLop], [TenLop]) VALUES (3, N'Lớp 12')
SET IDENTITY_INSERT [Lop] OFF
GO
SET IDENTITY_INSERT [TaiKhoan] ON 

INSERT [TaiKhoan] ([IdTaiKhoan], [IdLop], [IdVaiTro], [TaiKhoan], [MatKhau], [HoTen], [Email], [SDT], [NgaySinh], [GioiTinh], [DiaChi]) VALUES (1, 1, 1, N'trongquykt', N'4297f44b13955235245b2497399d7a93', N'trọng quý', N'vyquy633@gmail.com', N'0399000000', CAST(N'2024-04-24T00:00:00.000' AS DateTime), N'Nam', N'HCM')
INSERT [TaiKhoan] ([IdTaiKhoan], [IdLop], [IdVaiTro], [TaiKhoan], [MatKhau], [HoTen], [Email], [SDT], [NgaySinh], [GioiTinh], [DiaChi]) VALUES (4, 1, 3, N'trongquy', N'4297f44b13955235245b2497399d7a93', N'quy', N'trongquy029@gmail.com', N'0945449758', CAST(N'2024-04-24T00:00:00.000' AS DateTime), N'Nam', N'HN')
SET IDENTITY_INSERT [TaiKhoan] OFF
GO
SET IDENTITY_INSERT [VaiTro] ON 

INSERT [VaiTro] ([IdVaiTro], [TenVaiTro]) VALUES (1, N'Admin')
INSERT [VaiTro] ([IdVaiTro], [TenVaiTro]) VALUES (2, N'Giáo Viên')
INSERT [VaiTro] ([IdVaiTro], [TenVaiTro]) VALUES (3, N'Học Sinh')
SET IDENTITY_INSERT [VaiTro] OFF
GO
ALTER TABLE [BaiThi]  WITH CHECK ADD  CONSTRAINT [FK__BaiThi__IdMonHoc__6383C8BA] FOREIGN KEY([IdMonHoc])
REFERENCES [MonHoc] ([IdMonHoc])
GO
ALTER TABLE [BaiThi] CHECK CONSTRAINT [FK__BaiThi__IdMonHoc__6383C8BA]
GO
ALTER TABLE [BaiThi]  WITH CHECK ADD  CONSTRAINT [FK__BaiThi__IdTrangT__60A75C0F] FOREIGN KEY([IdTrangThai])
REFERENCES [TrangThai] ([IdTrangThai])
GO
ALTER TABLE [BaiThi] CHECK CONSTRAINT [FK__BaiThi__IdTrangT__60A75C0F]
GO
ALTER TABLE [CauHoi]  WITH CHECK ADD  CONSTRAINT [FK__CauHoi__IdMonHoc__656C112C] FOREIGN KEY([IdMonHoc])
REFERENCES [MonHoc] ([IdMonHoc])
GO
ALTER TABLE [CauHoi] CHECK CONSTRAINT [FK__CauHoi__IdMonHoc__656C112C]
GO
ALTER TABLE [CauHoi]  WITH CHECK ADD  CONSTRAINT [FK__CauHoi__IdMucDo__6D0D32F4] FOREIGN KEY([IdMucDo])
REFERENCES [MucDo] ([IdMucDo])
GO
ALTER TABLE [CauHoi] CHECK CONSTRAINT [FK__CauHoi__IdMucDo__6D0D32F4]
GO
ALTER TABLE [CauHoi_BaiThi]  WITH CHECK ADD  CONSTRAINT [FK__CauHoi_Ba__IdBai__66603565] FOREIGN KEY([IdBaiThi])
REFERENCES [BaiThi] ([IdBaiThi])
GO
ALTER TABLE [CauHoi_BaiThi] CHECK CONSTRAINT [FK__CauHoi_Ba__IdBai__66603565]
GO
ALTER TABLE [CauHoi_BaiThi]  WITH CHECK ADD  CONSTRAINT [FK__CauHoi_Ba__IdCau__693CA210] FOREIGN KEY([IdCauHoi])
REFERENCES [CauHoi] ([IdCauHoi])
GO
ALTER TABLE [CauHoi_BaiThi] CHECK CONSTRAINT [FK__CauHoi_Ba__IdCau__693CA210]
GO
ALTER TABLE [ChiTietBaiThi]  WITH CHECK ADD  CONSTRAINT [FK__ChiTietBa__IdTai__6C190EBB] FOREIGN KEY([IdTaiKhoan])
REFERENCES [TaiKhoan] ([IdTaiKhoan])
GO
ALTER TABLE [ChiTietBaiThi] CHECK CONSTRAINT [FK__ChiTietBa__IdTai__6C190EBB]
GO
ALTER TABLE [ChiTietBaiThi]  WITH CHECK ADD  CONSTRAINT [FK__ChiTietBaiTh__Id__6A30C649] FOREIGN KEY([Id])
REFERENCES [CauHoi_BaiThi] ([Id])
GO
ALTER TABLE [ChiTietBaiThi] CHECK CONSTRAINT [FK__ChiTietBaiTh__Id__6A30C649]
GO
ALTER TABLE [GopY]  WITH CHECK ADD  CONSTRAINT [FK__GopY__IdBaiThi__6754599E] FOREIGN KEY([IdBaiThi])
REFERENCES [BaiThi] ([IdBaiThi])
GO
ALTER TABLE [GopY] CHECK CONSTRAINT [FK__GopY__IdBaiThi__6754599E]
GO
ALTER TABLE [GopY]  WITH CHECK ADD  CONSTRAINT [FK__GopY__IdTaiKhoan__6B24EA82] FOREIGN KEY([IdTaiKhoan])
REFERENCES [TaiKhoan] ([IdTaiKhoan])
GO
ALTER TABLE [GopY] CHECK CONSTRAINT [FK__GopY__IdTaiKhoan__6B24EA82]
GO
ALTER TABLE [KetQua]  WITH CHECK ADD  CONSTRAINT [FK__KetQua__IdBaiThi__6477ECF3] FOREIGN KEY([IdBaiThi])
REFERENCES [BaiThi] ([IdBaiThi])
GO
ALTER TABLE [KetQua] CHECK CONSTRAINT [FK__KetQua__IdBaiThi__6477ECF3]
GO
ALTER TABLE [KetQua]  WITH CHECK ADD  CONSTRAINT [FK__KetQua__IdTaiKho__68487DD7] FOREIGN KEY([IdTaiKhoan])
REFERENCES [TaiKhoan] ([IdTaiKhoan])
GO
ALTER TABLE [KetQua] CHECK CONSTRAINT [FK__KetQua__IdTaiKho__68487DD7]
GO
ALTER TABLE [TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK__TaiKhoan__IdLop__6E01572D] FOREIGN KEY([IdLop])
REFERENCES [Lop] ([IdLop])
GO
ALTER TABLE [TaiKhoan] CHECK CONSTRAINT [FK__TaiKhoan__IdLop__6E01572D]
GO
ALTER TABLE [TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK__TaiKhoan__IdVaiT__6EF57B66] FOREIGN KEY([IdVaiTro])
REFERENCES [VaiTro] ([IdVaiTro])
GO
ALTER TABLE [TaiKhoan] CHECK CONSTRAINT [FK__TaiKhoan__IdVaiT__6EF57B66]
GO
ALTER TABLE [XepHang]  WITH CHECK ADD  CONSTRAINT [FK__XepHang__IdBaiTh__619B8048] FOREIGN KEY([IdBaiThi])
REFERENCES [BaiThi] ([IdBaiThi])
GO
ALTER TABLE [XepHang] CHECK CONSTRAINT [FK__XepHang__IdBaiTh__619B8048]
GO
ALTER TABLE [XepHang]  WITH CHECK ADD  CONSTRAINT [FK__XepHang__IdDiem__628FA481] FOREIGN KEY([IdDiem])
REFERENCES [KetQua] ([IdDiem])
GO
ALTER TABLE [XepHang] CHECK CONSTRAINT [FK__XepHang__IdDiem__628FA481]
GO
USE [master]
GO
