USE [WebBanOto]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 10/04/2024 4:10:30 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 10/04/2024 4:10:30 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[AccountId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[Avartar] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[FullName] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
	[Point] [int] NULL,
	[Birthday] [datetime] NULL,
	[Gender] [tinyint] NULL,
	[RoleId] [int] NULL,
	[AccountTypeId] [int] NULL,
	[Status] [tinyint] NULL,
 CONSTRAINT [PK_Accounts] PRIMARY KEY CLUSTERED 
(
	[AccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AccountType]    Script Date: 10/04/2024 4:10:30 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountType](
	[AccountTypeId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_AccountType] PRIMARY KEY CLUSTERED 
(
	[AccountTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Address]    Script Date: 10/04/2024 4:10:30 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Address](
	[AddressId] [int] IDENTITY(1,1) NOT NULL,
	[Street] [nvarchar](max) NULL,
	[Ward] [nvarchar](max) NULL,
	[District] [nvarchar](max) NULL,
	[City] [nvarchar](max) NULL,
	[Country] [nvarchar](max) NULL,
	[AccountId] [int] NULL,
 CONSTRAINT [PK_Address] PRIMARY KEY CLUSTERED 
(
	[AddressId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Discounts]    Script Date: 10/04/2024 4:10:30 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Discounts](
	[DiscountId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Code] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Discount_percent] [decimal](18, 0) NULL,
	[Quantity] [int] NULL,
	[UseNumber] [int] NULL,
	[Status] [tinyint] NULL,
 CONSTRAINT [PK_Discounts] PRIMARY KEY CLUSTERED 
(
	[DiscountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Messages]    Script Date: 10/04/2024 4:10:30 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Messages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FromUserId] [int] NULL,
	[ToUserId] [int] NULL,
	[Content] [nvarchar](max) NULL,
	[IsFromUserId] [bit] NULL,
	[IsToUserId] [bit] NULL,
	[Status] [tinyint] NULL,
 CONSTRAINT [PK_Messages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Oder_Items]    Script Date: 10/04/2024 4:10:30 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Oder_Items](
	[OderId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [int] NULL,
 CONSTRAINT [PK_Oder_Items] PRIMARY KEY CLUSTERED 
(
	[OderId] ASC,
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Oders]    Script Date: 10/04/2024 4:10:30 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Oders](
	[OdersId] [int] IDENTITY(1,1) NOT NULL,
	[AccountId] [int] NULL,
	[Total] [decimal](18, 0) NULL,
	[CreateDay] [datetime] NULL,
	[AddressId] [int] NULL,
	[DiscountId] [int] NULL,
	[Status] [tinyint] NULL,
 CONSTRAINT [PK_Oders] PRIMARY KEY CLUSTERED 
(
	[OdersId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentMethods]    Script Date: 10/04/2024 4:10:30 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentMethods](
	[PaymentMethodsId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_PaymentMethods] PRIMARY KEY CLUSTERED 
(
	[PaymentMethodsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 10/04/2024 4:10:30 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[PaymentsId] [int] IDENTITY(1,1) NOT NULL,
	[OdersId] [int] NULL,
	[PaymentMethodsId] [int] NULL,
	[Amount] [decimal](18, 0) NULL,
	[PaymentDate] [datetime] NULL,
	[Status] [tinyint] NULL,
 CONSTRAINT [PK_Payments] PRIMARY KEY CLUSTERED 
(
	[PaymentsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 10/04/2024 4:10:30 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
	[Image1] [nvarchar](max) NULL,
	[Image2] [nvarchar](max) NULL,
	[Image3] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Price] [float] NULL,
	[Product_InventoryId] [int] NULL,
	[ProductTypeId] [int] NULL,
	[Status] [tinyint] NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products_Inventorys]    Script Date: 10/04/2024 4:10:30 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products_Inventorys](
	[Product_InventoryId] [int] IDENTITY(1,1) NOT NULL,
	[Quantity] [int] NULL,
	[QuantitySold] [int] NULL,
 CONSTRAINT [PK_Product_Inventory] PRIMARY KEY CLUSTERED 
(
	[Product_InventoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductTypes]    Script Date: 10/04/2024 4:10:30 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductTypes](
	[ProductTypeId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Status] [tinyint] NULL,
 CONSTRAINT [PK_ProductTypes] PRIMARY KEY CLUSTERED 
(
	[ProductTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Receipt_Products]    Script Date: 10/04/2024 4:10:30 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Receipt_Products](
	[Receipt_ProductId] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NULL,
	[Quantity] [int] NULL,
	[Price] [decimal](18, 0) NULL,
	[Image] [nvarchar](max) NULL,
	[CreateDay] [datetime2](7) NULL,
	[Status] [tinyint] NULL,
 CONSTRAINT [PK_Receipt_Products] PRIMARY KEY CLUSTERED 
(
	[Receipt_ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 10/04/2024 4:10:30 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shipments]    Script Date: 10/04/2024 4:10:30 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shipments](
	[ShipmentsId] [int] IDENTITY(1,1) NOT NULL,
	[OdersId] [int] NULL,
	[TrackingNumber] [nvarchar](max) NULL,
	[ShippingMethodsId] [int] NULL,
	[Status] [tinyint] NULL,
 CONSTRAINT [PK_Shipments] PRIMARY KEY CLUSTERED 
(
	[ShipmentsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShippingMethods]    Script Date: 10/04/2024 4:10:30 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShippingMethods](
	[ShippingMethodsId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[ShippingFee] [decimal](18, 0) NULL,
 CONSTRAINT [PK_ShippingMethods] PRIMARY KEY CLUSTERED 
(
	[ShippingMethodsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20240324122627_khoitao', N'8.0.3')
GO
SET IDENTITY_INSERT [dbo].[Accounts] ON 

INSERT [dbo].[Accounts] ([AccountId], [UserName], [Password], [Avartar], [Email], [FullName], [Phone], [Point], [Birthday], [Gender], [RoleId], [AccountTypeId], [Status]) VALUES (1, N'Admin', N'4297f44b13955235245b2497399d7a93', N'Admin.png', N'founderktt@gmail.com', N'Vy Trọng Qúy', N'0945449758', NULL, CAST(N'2003-09-03T19:52:00.000' AS DateTime), 1, 1, NULL, 1)
INSERT [dbo].[Accounts] ([AccountId], [UserName], [Password], [Avartar], [Email], [FullName], [Phone], [Point], [Birthday], [Gender], [RoleId], [AccountTypeId], [Status]) VALUES (2, N'khachhang', N'202cb962ac59075b964b07152d234b70', N'khach-hang-1.jpg', N'vyquy633@gmail.com', N'Trọng Qúy', N'0399350574', 1200, CAST(N'2024-03-17T20:30:00.000' AS DateTime), 1, 3, 2, 1)
INSERT [dbo].[Accounts] ([AccountId], [UserName], [Password], [Avartar], [Email], [FullName], [Phone], [Point], [Birthday], [Gender], [RoleId], [AccountTypeId], [Status]) VALUES (3, N'Staff1', N'4297f44b13955235245b2497399d7a93', N'staff1.jpg', N'yourname@gmail.com', N'Trọng Qúy KT', N'0399350574', NULL, CAST(N'2024-03-10T20:31:00.000' AS DateTime), 1, 2, NULL, 1)
SET IDENTITY_INSERT [dbo].[Accounts] OFF
GO
SET IDENTITY_INSERT [dbo].[AccountType] ON 

INSERT [dbo].[AccountType] ([AccountTypeId], [Name]) VALUES (1, N'Vip1')
INSERT [dbo].[AccountType] ([AccountTypeId], [Name]) VALUES (2, N'Vip2')
INSERT [dbo].[AccountType] ([AccountTypeId], [Name]) VALUES (3, N'Vip3')
SET IDENTITY_INSERT [dbo].[AccountType] OFF
GO
SET IDENTITY_INSERT [dbo].[Address] ON 

INSERT [dbo].[Address] ([AddressId], [Street], [Ward], [District], [City], [Country], [AccountId]) VALUES (1, N'70', N'12', N'Tân Bình', N'HCM', N'VIỆT NAM', 1)
INSERT [dbo].[Address] ([AddressId], [Street], [Ward], [District], [City], [Country], [AccountId]) VALUES (2, N'Liên Hiệp 1C', N'Phường Trương Quang Trọng', NULL, N'Quảng Ngãi', N'VIỆT NAM', 2)
INSERT [dbo].[Address] ([AddressId], [Street], [Ward], [District], [City], [Country], [AccountId]) VALUES (3, N'262/3 Lũy Bán Bích', N'Phường Hòa Thạnh', N'Quận Tân Phú', N'TP.Hồ Chí Minh', N'Việt Nam', 2)
SET IDENTITY_INSERT [dbo].[Address] OFF
GO
SET IDENTITY_INSERT [dbo].[Discounts] ON 

INSERT [dbo].[Discounts] ([DiscountId], [Name], [Code], [Description], [Discount_percent], [Quantity], [UseNumber], [Status]) VALUES (1, N'Coupon50%', N'123123', N'Mã giảm giá 50%', CAST(200000000 AS Decimal(18, 0)), 5, 0, 1)
INSERT [dbo].[Discounts] ([DiscountId], [Name], [Code], [Description], [Discount_percent], [Quantity], [UseNumber], [Status]) VALUES (2, N'Cuupon20%', N'123', N'Mã giảm giá 20%', CAST(690000000 AS Decimal(18, 0)), 5, 0, 1)
SET IDENTITY_INSERT [dbo].[Discounts] OFF
GO
SET IDENTITY_INSERT [dbo].[Messages] ON 

INSERT [dbo].[Messages] ([Id], [FromUserId], [ToUserId], [Content], [IsFromUserId], [IsToUserId], [Status]) VALUES (10, 2, 1, N'alo', 1, 1, 1)
INSERT [dbo].[Messages] ([Id], [FromUserId], [ToUserId], [Content], [IsFromUserId], [IsToUserId], [Status]) VALUES (11, 1, 2, N'hả', 1, 1, 1)
INSERT [dbo].[Messages] ([Id], [FromUserId], [ToUserId], [Content], [IsFromUserId], [IsToUserId], [Status]) VALUES (12, 1, 2, N'anh yeu em', 1, 1, 1)
SET IDENTITY_INSERT [dbo].[Messages] OFF
GO
INSERT [dbo].[Oder_Items] ([OderId], [ProductId], [Quantity]) VALUES (1, 2, 2)
INSERT [dbo].[Oder_Items] ([OderId], [ProductId], [Quantity]) VALUES (1, 4, 3)
INSERT [dbo].[Oder_Items] ([OderId], [ProductId], [Quantity]) VALUES (1, 5, 1)
GO
SET IDENTITY_INSERT [dbo].[Oders] ON 

INSERT [dbo].[Oders] ([OdersId], [AccountId], [Total], [CreateDay], [AddressId], [DiscountId], [Status]) VALUES (1, 1, CAST(-199970000 AS Decimal(18, 0)), CAST(N'2024-03-30T19:38:57.563' AS DateTime), 1, 1, 5)
INSERT [dbo].[Oders] ([OdersId], [AccountId], [Total], [CreateDay], [AddressId], [DiscountId], [Status]) VALUES (2, 2, CAST(30000 AS Decimal(18, 0)), CAST(N'2024-03-24T23:19:20.020' AS DateTime), 2, NULL, 3)
INSERT [dbo].[Oders] ([OdersId], [AccountId], [Total], [CreateDay], [AddressId], [DiscountId], [Status]) VALUES (3, 2, CAST(-1999955000 AS Decimal(18, 0)), CAST(N'2024-03-24T23:19:40.470' AS DateTime), 2, 1, 3)
SET IDENTITY_INSERT [dbo].[Oders] OFF
GO
SET IDENTITY_INSERT [dbo].[PaymentMethods] ON 

INSERT [dbo].[PaymentMethods] ([PaymentMethodsId], [Name], [Description]) VALUES (1, N'COD', N'Nhận hàng và thanh toán')
INSERT [dbo].[PaymentMethods] ([PaymentMethodsId], [Name], [Description]) VALUES (2, N'VNPay', N'Thanh toán online')
SET IDENTITY_INSERT [dbo].[PaymentMethods] OFF
GO
SET IDENTITY_INSERT [dbo].[Payments] ON 

INSERT [dbo].[Payments] ([PaymentsId], [OdersId], [PaymentMethodsId], [Amount], [PaymentDate], [Status]) VALUES (6, 2, 1, CAST(30000 AS Decimal(18, 0)), CAST(N'2024-03-24T23:19:20.020' AS DateTime), 1)
INSERT [dbo].[Payments] ([PaymentsId], [OdersId], [PaymentMethodsId], [Amount], [PaymentDate], [Status]) VALUES (7, 3, 2, CAST(-1999955000 AS Decimal(18, 0)), CAST(N'2024-03-24T23:19:40.470' AS DateTime), 1)
INSERT [dbo].[Payments] ([PaymentsId], [OdersId], [PaymentMethodsId], [Amount], [PaymentDate], [Status]) VALUES (8, 4, 2, CAST(7045000 AS Decimal(18, 0)), CAST(N'2024-03-24T23:20:58.150' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Payments] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ProductId], [Name], [Image], [Image1], [Image2], [Image3], [Description], [Price], [Product_InventoryId], [ProductTypeId], [Status]) VALUES (1, N'Mercedes Trắng', N'mercedes-trang.png', N'mercedes-trang1.png', N'mercedes-trang2.png', N'mercedes-trang3.png', N'Xe 4 chỗ', 7000000000, 1, 3, 1)
INSERT [dbo].[Products] ([ProductId], [Name], [Image], [Image1], [Image2], [Image3], [Description], [Price], [Product_InventoryId], [ProductTypeId], [Status]) VALUES (2, N'Mercedes Đen', N'mercedes-den.png', N'mercedes-den1.png', N'mercedes-den2.png', N'mercedes-den3.png', N'Xe 4 chỗ', 700000000, 2, 3, 1)
INSERT [dbo].[Products] ([ProductId], [Name], [Image], [Image1], [Image2], [Image3], [Description], [Price], [Product_InventoryId], [ProductTypeId], [Status]) VALUES (3, N'Xe Mercedes Đỏ', N'xe-mercedes-do.png', N'1.png', N'2.png', N'3.png', N'Xe 4 chỗ', 600000000, 3, 3, 1)
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[Products_Inventorys] ON 

INSERT [dbo].[Products_Inventorys] ([Product_InventoryId], [Quantity], [QuantitySold]) VALUES (1, 10, 6)
INSERT [dbo].[Products_Inventorys] ([Product_InventoryId], [Quantity], [QuantitySold]) VALUES (2, 10, 10)
INSERT [dbo].[Products_Inventorys] ([Product_InventoryId], [Quantity], [QuantitySold]) VALUES (3, 10, 1)
SET IDENTITY_INSERT [dbo].[Products_Inventorys] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductTypes] ON 

INSERT [dbo].[ProductTypes] ([ProductTypeId], [Name], [Description], [Status]) VALUES (1, N'McLaren', N'Xe 2 chỗ', 1)
INSERT [dbo].[ProductTypes] ([ProductTypeId], [Name], [Description], [Status]) VALUES (2, N'BMW', N'Xe 4 chỗ', 1)
INSERT [dbo].[ProductTypes] ([ProductTypeId], [Name], [Description], [Status]) VALUES (3, N'Mercedes', N'Xe 4 chỗ', 1)
SET IDENTITY_INSERT [dbo].[ProductTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[Receipt_Products] ON 

INSERT [dbo].[Receipt_Products] ([Receipt_ProductId], [ProductId], [Quantity], [Price], [Image], [CreateDay], [Status]) VALUES (1, 1, 10, CAST(50000 AS Decimal(18, 0)), N'sieu-xe-mclaren-xanh22032024-82800-ch.png', CAST(N'2024-03-22T20:28:00.0000000' AS DateTime2), 1)
INSERT [dbo].[Receipt_Products] ([Receipt_ProductId], [ProductId], [Quantity], [Price], [Image], [CreateDay], [Status]) VALUES (2, 2, 10, CAST(50000 AS Decimal(18, 0)), N'mercedes-den23032024-110500-ch.png', CAST(N'2024-03-23T23:05:00.0000000' AS DateTime2), 1)
INSERT [dbo].[Receipt_Products] ([Receipt_ProductId], [ProductId], [Quantity], [Price], [Image], [CreateDay], [Status]) VALUES (3, 3, 10, CAST(50000 AS Decimal(18, 0)), N'xe-mercedes-do09032024-11600-ch.png', CAST(N'2024-03-09T13:16:00.0000000' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[Receipt_Products] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleId], [Name]) VALUES (1, N'Admin')
INSERT [dbo].[Roles] ([RoleId], [Name]) VALUES (2, N'Nhân Viên')
INSERT [dbo].[Roles] ([RoleId], [Name]) VALUES (3, N'Khách Hàng')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Shipments] ON 

INSERT [dbo].[Shipments] ([ShipmentsId], [OdersId], [TrackingNumber], [ShippingMethodsId], [Status]) VALUES (6, 2, N'Z8wUfhFzFxtXSAvrzBkz', 1, 2)
INSERT [dbo].[Shipments] ([ShipmentsId], [OdersId], [TrackingNumber], [ShippingMethodsId], [Status]) VALUES (7, 3, N'yXEIuxUMIgPL2p3C5sY1', 2, 2)
INSERT [dbo].[Shipments] ([ShipmentsId], [OdersId], [TrackingNumber], [ShippingMethodsId], [Status]) VALUES (8, 4, N'wbiIGwVqROe8S6glDsW4', 2, 2)
SET IDENTITY_INSERT [dbo].[Shipments] OFF
GO
SET IDENTITY_INSERT [dbo].[ShippingMethods] ON 

INSERT [dbo].[ShippingMethods] ([ShippingMethodsId], [Name], [Description], [ShippingFee]) VALUES (1, N'Bưu điện', N'Giao hàng ViettelPost', CAST(30000 AS Decimal(18, 0)))
INSERT [dbo].[ShippingMethods] ([ShippingMethodsId], [Name], [Description], [ShippingFee]) VALUES (2, N'Giao hàng tiết kiệm', N'Đơn vị vận chuyển phát nhanh', CAST(35000 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[ShippingMethods] OFF
GO
ALTER TABLE [dbo].[Accounts]  WITH CHECK ADD  CONSTRAINT [FK_Account_AccountType] FOREIGN KEY([AccountTypeId])
REFERENCES [dbo].[AccountType] ([AccountTypeId])
GO
ALTER TABLE [dbo].[Accounts] CHECK CONSTRAINT [FK_Account_AccountType]
GO
ALTER TABLE [dbo].[Accounts]  WITH CHECK ADD  CONSTRAINT [FK_Account_Role] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([RoleId])
GO
ALTER TABLE [dbo].[Accounts] CHECK CONSTRAINT [FK_Account_Role]
GO
ALTER TABLE [dbo].[Address]  WITH CHECK ADD  CONSTRAINT [FK_Address_Account] FOREIGN KEY([AccountId])
REFERENCES [dbo].[Accounts] ([AccountId])
GO
ALTER TABLE [dbo].[Address] CHECK CONSTRAINT [FK_Address_Account]
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD  CONSTRAINT [FK_Messages_Accounts_FromUserId] FOREIGN KEY([FromUserId])
REFERENCES [dbo].[Accounts] ([AccountId])
GO
ALTER TABLE [dbo].[Messages] CHECK CONSTRAINT [FK_Messages_Accounts_FromUserId]
GO
ALTER TABLE [dbo].[Oder_Items]  WITH CHECK ADD  CONSTRAINT [FK_Oder_Items_Oders] FOREIGN KEY([OderId])
REFERENCES [dbo].[Oders] ([OdersId])
GO
ALTER TABLE [dbo].[Oder_Items] CHECK CONSTRAINT [FK_Oder_Items_Oders]
GO
ALTER TABLE [dbo].[Oder_Items]  WITH CHECK ADD  CONSTRAINT [FK_Oder_Items_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
GO
ALTER TABLE [dbo].[Oder_Items] CHECK CONSTRAINT [FK_Oder_Items_Product]
GO
ALTER TABLE [dbo].[Oders]  WITH CHECK ADD  CONSTRAINT [FK_Oders_Account] FOREIGN KEY([AccountId])
REFERENCES [dbo].[Accounts] ([AccountId])
GO
ALTER TABLE [dbo].[Oders] CHECK CONSTRAINT [FK_Oders_Account]
GO
ALTER TABLE [dbo].[Oders]  WITH CHECK ADD  CONSTRAINT [FK_Oders_Discount] FOREIGN KEY([DiscountId])
REFERENCES [dbo].[Discounts] ([DiscountId])
GO
ALTER TABLE [dbo].[Oders] CHECK CONSTRAINT [FK_Oders_Discount]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_Oders] FOREIGN KEY([OdersId])
REFERENCES [dbo].[Oders] ([OdersId])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_Oders]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_PaymentMethods] FOREIGN KEY([PaymentMethodsId])
REFERENCES [dbo].[PaymentMethods] ([PaymentMethodsId])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_PaymentMethods]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Product_Product_Inventory] FOREIGN KEY([Product_InventoryId])
REFERENCES [dbo].[Products_Inventorys] ([Product_InventoryId])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Product_Product_Inventory]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Product_ProductType] FOREIGN KEY([ProductTypeId])
REFERENCES [dbo].[ProductTypes] ([ProductTypeId])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Product_ProductType]
GO
ALTER TABLE [dbo].[Receipt_Products]  WITH CHECK ADD  CONSTRAINT [FK_Receipt_Product_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
GO
ALTER TABLE [dbo].[Receipt_Products] CHECK CONSTRAINT [FK_Receipt_Product_Product]
GO
ALTER TABLE [dbo].[Shipments]  WITH CHECK ADD  CONSTRAINT [FK_Shipments_Oders] FOREIGN KEY([OdersId])
REFERENCES [dbo].[Oders] ([OdersId])
GO
ALTER TABLE [dbo].[Shipments] CHECK CONSTRAINT [FK_Shipments_Oders]
GO
ALTER TABLE [dbo].[Shipments]  WITH CHECK ADD  CONSTRAINT [FK_Shipments_ShippingMethods] FOREIGN KEY([ShippingMethodsId])
REFERENCES [dbo].[ShippingMethods] ([ShippingMethodsId])
GO
ALTER TABLE [dbo].[Shipments] CHECK CONSTRAINT [FK_Shipments_ShippingMethods]
GO
