USE [master]
GO
/****** Object:  Database [WebBanOto]    Script Date: 28/04/2024 6:34:16 CH ******/
CREATE DATABASE [WebBanOto]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WebBanOto', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\WebBanOto.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WebBanOto_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\WebBanOto_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WebBanOto].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WebBanOto]
GO
/****** Object:  Table [__EFMigrationsHistory]    Script Date: 28/04/2024 6:34:16 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Accounts]    Script Date: 28/04/2024 6:34:16 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Accounts](
	[AccountId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[Avartar] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[FullName] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
	[Point] [int] NULL,
	[Birthday] [datetime] NULL,
	[Gender] [tinyint] NULL,
	[RoleId] [int] NULL,
	[AccountTypeId] [int] NULL,
	[Status] [tinyint] NULL,
 CONSTRAINT [PK_Accounts] PRIMARY KEY CLUSTERED 
(
	[AccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [AccountType]    Script Date: 28/04/2024 6:34:16 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [AccountType](
	[AccountTypeId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_AccountType] PRIMARY KEY CLUSTERED 
(
	[AccountTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Address]    Script Date: 28/04/2024 6:34:16 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Address](
	[AddressId] [int] IDENTITY(1,1) NOT NULL,
	[Street] [nvarchar](max) NULL,
	[Ward] [nvarchar](max) NULL,
	[District] [nvarchar](max) NULL,
	[City] [nvarchar](max) NULL,
	[Country] [nvarchar](max) NULL,
	[AccountId] [int] NULL,
 CONSTRAINT [PK_Address] PRIMARY KEY CLUSTERED 
(
	[AddressId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Discounts]    Script Date: 28/04/2024 6:34:16 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Discounts](
	[DiscountId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Code] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Discount_percent] [decimal](18, 0) NULL,
	[Quantity] [int] NULL,
	[UseNumber] [int] NULL,
	[Status] [tinyint] NULL,
 CONSTRAINT [PK_Discounts] PRIMARY KEY CLUSTERED 
(
	[DiscountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Messages]    Script Date: 28/04/2024 6:34:16 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Messages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FromUserId] [int] NULL,
	[ToUserId] [int] NULL,
	[Content] [nvarchar](max) NULL,
	[IsFromUserId] [bit] NULL,
	[IsToUserId] [bit] NULL,
	[Status] [tinyint] NULL,
 CONSTRAINT [PK_Messages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Oder_Items]    Script Date: 28/04/2024 6:34:16 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Oder_Items](
	[OderId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [int] NULL,
 CONSTRAINT [PK_Oder_Items] PRIMARY KEY CLUSTERED 
(
	[OderId] ASC,
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Oders]    Script Date: 28/04/2024 6:34:16 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Oders](
	[OdersId] [int] IDENTITY(1,1) NOT NULL,
	[AccountId] [int] NULL,
	[Total] [decimal](18, 0) NULL,
	[CreateDay] [datetime] NULL,
	[AddressId] [int] NULL,
	[DiscountId] [int] NULL,
	[Status] [tinyint] NULL,
 CONSTRAINT [PK_Oders] PRIMARY KEY CLUSTERED 
(
	[OdersId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [PaymentMethods]    Script Date: 28/04/2024 6:34:16 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PaymentMethods](
	[PaymentMethodsId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_PaymentMethods] PRIMARY KEY CLUSTERED 
(
	[PaymentMethodsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Payments]    Script Date: 28/04/2024 6:34:16 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Payments](
	[PaymentsId] [int] IDENTITY(1,1) NOT NULL,
	[OdersId] [int] NULL,
	[PaymentMethodsId] [int] NULL,
	[Amount] [decimal](18, 0) NULL,
	[PaymentDate] [datetime] NULL,
	[Status] [tinyint] NULL,
 CONSTRAINT [PK_Payments] PRIMARY KEY CLUSTERED 
(
	[PaymentsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Products]    Script Date: 28/04/2024 6:34:16 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Products](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
	[Image1] [nvarchar](max) NULL,
	[Image2] [nvarchar](max) NULL,
	[Image3] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Price] [float] NULL,
	[Product_InventoryId] [int] NULL,
	[ProductTypeId] [int] NULL,
	[Status] [tinyint] NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Products_Inventorys]    Script Date: 28/04/2024 6:34:16 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Products_Inventorys](
	[Product_InventoryId] [int] IDENTITY(1,1) NOT NULL,
	[Quantity] [int] NULL,
	[QuantitySold] [int] NULL,
 CONSTRAINT [PK_Product_Inventory] PRIMARY KEY CLUSTERED 
(
	[Product_InventoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ProductTypes]    Script Date: 28/04/2024 6:34:16 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ProductTypes](
	[ProductTypeId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Status] [tinyint] NULL,
 CONSTRAINT [PK_ProductTypes] PRIMARY KEY CLUSTERED 
(
	[ProductTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Receipt_Products]    Script Date: 28/04/2024 6:34:16 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Receipt_Products](
	[Receipt_ProductId] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NULL,
	[Quantity] [int] NULL,
	[Price] [decimal](18, 0) NULL,
	[Image] [nvarchar](max) NULL,
	[CreateDay] [datetime2](7) NULL,
	[Status] [tinyint] NULL,
 CONSTRAINT [PK_Receipt_Products] PRIMARY KEY CLUSTERED 
(
	[Receipt_ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Roles]    Script Date: 28/04/2024 6:34:16 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Roles](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Shipments]    Script Date: 28/04/2024 6:34:16 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Shipments](
	[ShipmentsId] [int] IDENTITY(1,1) NOT NULL,
	[OdersId] [int] NULL,
	[TrackingNumber] [nvarchar](max) NULL,
	[ShippingMethodsId] [int] NULL,
	[Status] [tinyint] NULL,
 CONSTRAINT [PK_Shipments] PRIMARY KEY CLUSTERED 
(
	[ShipmentsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [ShippingMethods]    Script Date: 28/04/2024 6:34:16 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ShippingMethods](
	[ShippingMethodsId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[ShippingFee] [decimal](18, 0) NULL,
 CONSTRAINT [PK_ShippingMethods] PRIMARY KEY CLUSTERED 
(
	[ShippingMethodsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20240324122627_khoitao', N'8.0.3')
GO
SET IDENTITY_INSERT [Accounts] ON 

INSERT [Accounts] ([AccountId], [UserName], [Password], [Avartar], [Email], [FullName], [Phone], [Point], [Birthday], [Gender], [RoleId], [AccountTypeId], [Status]) VALUES (1, N'Admin', N'4297f44b13955235245b2497399d7a93', N'Admin.png', N'founderktt@gmail.com', N'Vy Trọng Qúy', N'0945449758', NULL, CAST(N'2003-09-03T19:52:00.000' AS DateTime), 1, 1, NULL, 1)
INSERT [Accounts] ([AccountId], [UserName], [Password], [Avartar], [Email], [FullName], [Phone], [Point], [Birthday], [Gender], [RoleId], [AccountTypeId], [Status]) VALUES (2, N'khachhang', N'202cb962ac59075b964b07152d234b70', N'khach-hang-1.jpg', N'vyquy633@gmail.com', N'Trọng Qúy', N'0399350574', 4100, CAST(N'2024-03-17T20:30:00.000' AS DateTime), 1, 3, 2, 1)
INSERT [Accounts] ([AccountId], [UserName], [Password], [Avartar], [Email], [FullName], [Phone], [Point], [Birthday], [Gender], [RoleId], [AccountTypeId], [Status]) VALUES (3, N'Staff1', N'202cb962ac59075b964b07152d234b70', N'staff1.jpg', N'yourname@gmail.com', N'Trọng Qúy KT', N'0399350574', NULL, CAST(N'2024-03-10T20:31:00.000' AS DateTime), 1, 2, NULL, 1)
SET IDENTITY_INSERT [Accounts] OFF
GO
SET IDENTITY_INSERT [AccountType] ON 

INSERT [AccountType] ([AccountTypeId], [Name]) VALUES (1, N'Vip1')
INSERT [AccountType] ([AccountTypeId], [Name]) VALUES (2, N'Vip2')
INSERT [AccountType] ([AccountTypeId], [Name]) VALUES (3, N'Vip3')
SET IDENTITY_INSERT [AccountType] OFF
GO
SET IDENTITY_INSERT [Address] ON 

INSERT [Address] ([AddressId], [Street], [Ward], [District], [City], [Country], [AccountId]) VALUES (1, N'70', N'12', N'Tân Bình', N'HCM', N'VIỆT NAM', 1)
INSERT [Address] ([AddressId], [Street], [Ward], [District], [City], [Country], [AccountId]) VALUES (2, N'Liên Hiệp 1C', N'Phường Trương Quang Trọng', NULL, N'Quảng Ngãi', N'VIỆT NAM', 2)
INSERT [Address] ([AddressId], [Street], [Ward], [District], [City], [Country], [AccountId]) VALUES (3, N'262/3 Lũy Bán Bích', N'Phường Hòa Thạnh', N'Quận Tân Phú', N'TP.Hồ Chí Minh', N'Việt Nam', 2)
SET IDENTITY_INSERT [Address] OFF
GO
SET IDENTITY_INSERT [Discounts] ON 

INSERT [Discounts] ([DiscountId], [Name], [Code], [Description], [Discount_percent], [Quantity], [UseNumber], [Status]) VALUES (1, N'Discount 20%', N'c20', N'Giảm giá 20%', CAST(200000 AS Decimal(18, 0)), 5, 2, 1)
INSERT [Discounts] ([DiscountId], [Name], [Code], [Description], [Discount_percent], [Quantity], [UseNumber], [Status]) VALUES (3, N'Discount 30%', N'c30', N'Giảm giá 30%', CAST(300000 AS Decimal(18, 0)), 5, 2, 1)
INSERT [Discounts] ([DiscountId], [Name], [Code], [Description], [Discount_percent], [Quantity], [UseNumber], [Status]) VALUES (4, N'Discount 40%', N'c40', N'Giảm giá 40%', CAST(400000 AS Decimal(18, 0)), 5, 0, 1)
SET IDENTITY_INSERT [Discounts] OFF
GO
SET IDENTITY_INSERT [Messages] ON 

INSERT [Messages] ([Id], [FromUserId], [ToUserId], [Content], [IsFromUserId], [IsToUserId], [Status]) VALUES (10, 2, 1, N'alo', 1, 1, 1)
INSERT [Messages] ([Id], [FromUserId], [ToUserId], [Content], [IsFromUserId], [IsToUserId], [Status]) VALUES (11, 1, 2, N'hả', 1, 1, 1)
INSERT [Messages] ([Id], [FromUserId], [ToUserId], [Content], [IsFromUserId], [IsToUserId], [Status]) VALUES (13, 2, 1, N'ok', 1, 1, 1)
SET IDENTITY_INSERT [Messages] OFF
GO
INSERT [Oder_Items] ([OderId], [ProductId], [Quantity]) VALUES (35, 1, 1)
INSERT [Oder_Items] ([OderId], [ProductId], [Quantity]) VALUES (36, 25, 1)
INSERT [Oder_Items] ([OderId], [ProductId], [Quantity]) VALUES (37, 1, 1)
GO
SET IDENTITY_INSERT [Oders] ON 

INSERT [Oders] ([OdersId], [AccountId], [Total], [CreateDay], [AddressId], [DiscountId], [Status]) VALUES (35, 2, CAST(98045000 AS Decimal(18, 0)), CAST(N'2024-04-14T22:11:38.003' AS DateTime), 2, NULL, 4)
INSERT [Oders] ([OdersId], [AccountId], [Total], [CreateDay], [AddressId], [DiscountId], [Status]) VALUES (36, 2, CAST(97545000 AS Decimal(18, 0)), CAST(N'2024-04-14T22:21:29.970' AS DateTime), 2, 1, 4)
INSERT [Oders] ([OdersId], [AccountId], [Total], [CreateDay], [AddressId], [DiscountId], [Status]) VALUES (37, 5, CAST(100030000 AS Decimal(18, 0)), CAST(N'2024-04-15T00:25:05.517' AS DateTime), 5, NULL, 3)
SET IDENTITY_INSERT [Oders] OFF
GO
SET IDENTITY_INSERT [PaymentMethods] ON 

INSERT [PaymentMethods] ([PaymentMethodsId], [Name], [Description]) VALUES (1, N'COD', N'Nhận hàng và thanh toán')
INSERT [PaymentMethods] ([PaymentMethodsId], [Name], [Description]) VALUES (2, N'VNPay', N'Thanh toán online')
SET IDENTITY_INSERT [PaymentMethods] OFF
GO
SET IDENTITY_INSERT [Payments] ON 

INSERT [Payments] ([PaymentsId], [OdersId], [PaymentMethodsId], [Amount], [PaymentDate], [Status]) VALUES (41, 35, 2, CAST(98045000 AS Decimal(18, 0)), CAST(N'2024-04-14T22:11:38.003' AS DateTime), 1)
INSERT [Payments] ([PaymentsId], [OdersId], [PaymentMethodsId], [Amount], [PaymentDate], [Status]) VALUES (42, 36, 2, CAST(97545000 AS Decimal(18, 0)), CAST(N'2024-04-14T22:21:29.970' AS DateTime), 1)
INSERT [Payments] ([PaymentsId], [OdersId], [PaymentMethodsId], [Amount], [PaymentDate], [Status]) VALUES (43, 37, 2, CAST(100030000 AS Decimal(18, 0)), CAST(N'2024-04-15T00:25:05.517' AS DateTime), 1)
SET IDENTITY_INSERT [Payments] OFF
GO
SET IDENTITY_INSERT [Products] ON 

INSERT [Products] ([ProductId], [Name], [Image], [Image1], [Image2], [Image3], [Description], [Price], [Product_InventoryId], [ProductTypeId], [Status]) VALUES (1, N'Mercedes Trắng', N'mercedes-trang.png', N'mercedes-trang1.png', N'mercedes-trang2.png', N'mercedes-trang3.png', N'Xe 4 chỗ', 100000000, 1, 3, 1)
INSERT [Products] ([ProductId], [Name], [Image], [Image1], [Image2], [Image3], [Description], [Price], [Product_InventoryId], [ProductTypeId], [Status]) VALUES (2, N'Mercedes Đen', N'mercedes-den.png', N'mercedes-den1.png', N'mercedes-den2.png', N'mercedes-den3.png', N'Xe 4 chỗ', 100000000, 2, 3, 1)
INSERT [Products] ([ProductId], [Name], [Image], [Image1], [Image2], [Image3], [Description], [Price], [Product_InventoryId], [ProductTypeId], [Status]) VALUES (3, N'Xe Mercedes Đỏ', N'xe-mercedes-do.png', N'1.png', N'2.png', N'3.png', N'Xe 4 chỗ', 100000000, 3, 3, 1)
GO
SET IDENTITY_INSERT [Products] OFF
GO
SET IDENTITY_INSERT [Products_Inventorys] ON 

INSERT [Products_Inventorys] ([Product_InventoryId], [Quantity], [QuantitySold]) VALUES (1, 20, 10)
INSERT [Products_Inventorys] ([Product_InventoryId], [Quantity], [QuantitySold]) VALUES (2, 20, 10)
INSERT [Products_Inventorys] ([Product_InventoryId], [Quantity], [QuantitySold]) VALUES (3, 20, 6)
GO
SET IDENTITY_INSERT [Products_Inventorys] OFF
GO
SET IDENTITY_INSERT [ProductTypes] ON 

INSERT [ProductTypes] ([ProductTypeId], [Name], [Description], [Status]) VALUES (1, N'McLaren', N'Xe 2 chỗ', 1)
INSERT [ProductTypes] ([ProductTypeId], [Name], [Description], [Status]) VALUES (2, N'BMW', N'Xe 4 chỗ', 1)
INSERT [ProductTypes] ([ProductTypeId], [Name], [Description], [Status]) VALUES (3, N'Mercedes', N'Xe 4 chỗ', 1)
SET IDENTITY_INSERT [ProductTypes] OFF
GO
SET IDENTITY_INSERT [Receipt_Products] ON 

INSERT [Receipt_Products] ([Receipt_ProductId], [ProductId], [Quantity], [Price], [Image], [CreateDay], [Status]) VALUES (40, 1, 10, CAST(90000000 AS Decimal(18, 0)), N'mercedes-trang15032024-54300-ch.jpg', CAST(N'2024-03-15T17:43:00.0000000' AS DateTime2), 1)
INSERT [Receipt_Products] ([Receipt_ProductId], [ProductId], [Quantity], [Price], [Image], [CreateDay], [Status]) VALUES (41, 2, 10, CAST(90000000 AS Decimal(18, 0)), N'mercedes-den14032024-54500-ch.png', CAST(N'2024-03-14T17:45:00.0000000' AS DateTime2), 1)
INSERT [Receipt_Products] ([Receipt_ProductId], [ProductId], [Quantity], [Price], [Image], [CreateDay], [Status]) VALUES (42, 3, 10, CAST(90000000 AS Decimal(18, 0)), N'xe-mercedes-do13032024-54700-ch.png', CAST(N'2024-03-13T17:47:00.0000000' AS DateTime2), 1)
GO
SET IDENTITY_INSERT [Receipt_Products] OFF
GO
SET IDENTITY_INSERT [Roles] ON 

INSERT [Roles] ([RoleId], [Name]) VALUES (1, N'Admin')
INSERT [Roles] ([RoleId], [Name]) VALUES (2, N'Nhân Viên')
INSERT [Roles] ([RoleId], [Name]) VALUES (3, N'Khách Hàng')
SET IDENTITY_INSERT [Roles] OFF
GO
SET IDENTITY_INSERT [Shipments] ON 

INSERT [Shipments] ([ShipmentsId], [OdersId], [TrackingNumber], [ShippingMethodsId], [Status]) VALUES (41, 35, N'4XOoqE1mgYswiX3WZ0xz', 2, 2)
INSERT [Shipments] ([ShipmentsId], [OdersId], [TrackingNumber], [ShippingMethodsId], [Status]) VALUES (42, 36, N'GsitSyiB3yT4wloiHwvk', 2, 2)
INSERT [Shipments] ([ShipmentsId], [OdersId], [TrackingNumber], [ShippingMethodsId], [Status]) VALUES (43, 37, N'9B6GSSYqGe77tFPg38LD', 1, 2)
SET IDENTITY_INSERT [Shipments] OFF
GO
SET IDENTITY_INSERT [ShippingMethods] ON 

INSERT [ShippingMethods] ([ShippingMethodsId], [Name], [Description], [ShippingFee]) VALUES (1, N'Hải quan', N'Giao hàng ViettelPost', CAST(30000000 AS Decimal(18, 0)))
INSERT [ShippingMethods] ([ShippingMethodsId], [Name], [Description], [ShippingFee]) VALUES (2, N'Giao hàng tiết kiệm', N'Đơn vị vận chuyển phát nhanh', CAST(35000 AS Decimal(18, 0)))
SET IDENTITY_INSERT [ShippingMethods] OFF
GO
/****** Object:  Index [IX_Accounts_AccountTypeId]    Script Date: 28/04/2024 6:34:16 CH ******/
CREATE NONCLUSTERED INDEX [IX_Accounts_AccountTypeId] ON [Accounts]
(
	[AccountTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Accounts_RoleId]    Script Date: 28/04/2024 6:34:16 CH ******/
CREATE NONCLUSTERED INDEX [IX_Accounts_RoleId] ON [Accounts]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Address_AccountId]    Script Date: 28/04/2024 6:34:16 CH ******/
CREATE NONCLUSTERED INDEX [IX_Address_AccountId] ON [Address]
(
	[AccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Messages_FromUserId]    Script Date: 28/04/2024 6:34:16 CH ******/
CREATE NONCLUSTERED INDEX [IX_Messages_FromUserId] ON [Messages]
(
	[FromUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Oder_Items_ProductId]    Script Date: 28/04/2024 6:34:16 CH ******/
CREATE NONCLUSTERED INDEX [IX_Oder_Items_ProductId] ON [Oder_Items]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Oders_AccountId]    Script Date: 28/04/2024 6:34:16 CH ******/
CREATE NONCLUSTERED INDEX [IX_Oders_AccountId] ON [Oders]
(
	[AccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Oders_DiscountId]    Script Date: 28/04/2024 6:34:16 CH ******/
CREATE NONCLUSTERED INDEX [IX_Oders_DiscountId] ON [Oders]
(
	[DiscountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Payments_OdersId]    Script Date: 28/04/2024 6:34:16 CH ******/
CREATE NONCLUSTERED INDEX [IX_Payments_OdersId] ON [Payments]
(
	[OdersId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Payments_PaymentMethodsId]    Script Date: 28/04/2024 6:34:16 CH ******/
CREATE NONCLUSTERED INDEX [IX_Payments_PaymentMethodsId] ON [Payments]
(
	[PaymentMethodsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Products_Product_InventoryId]    Script Date: 28/04/2024 6:34:16 CH ******/
CREATE NONCLUSTERED INDEX [IX_Products_Product_InventoryId] ON [Products]
(
	[Product_InventoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Products_ProductTypeId]    Script Date: 28/04/2024 6:34:16 CH ******/
CREATE NONCLUSTERED INDEX [IX_Products_ProductTypeId] ON [Products]
(
	[ProductTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Receipt_Products_ProductId]    Script Date: 28/04/2024 6:34:16 CH ******/
CREATE NONCLUSTERED INDEX [IX_Receipt_Products_ProductId] ON [Receipt_Products]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Shipments_OdersId]    Script Date: 28/04/2024 6:34:16 CH ******/
CREATE NONCLUSTERED INDEX [IX_Shipments_OdersId] ON [Shipments]
(
	[OdersId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Shipments_ShippingMethodsId]    Script Date: 28/04/2024 6:34:16 CH ******/
CREATE NONCLUSTERED INDEX [IX_Shipments_ShippingMethodsId] ON [Shipments]
(
	[ShippingMethodsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [Accounts]  WITH CHECK ADD  CONSTRAINT [FK_Account_AccountType] FOREIGN KEY([AccountTypeId])
REFERENCES [AccountType] ([AccountTypeId])
GO
ALTER TABLE [Accounts] CHECK CONSTRAINT [FK_Account_AccountType]
GO
ALTER TABLE [Accounts]  WITH CHECK ADD  CONSTRAINT [FK_Account_Role] FOREIGN KEY([RoleId])
REFERENCES [Roles] ([RoleId])
GO
ALTER TABLE [Accounts] CHECK CONSTRAINT [FK_Account_Role]
GO
ALTER TABLE [Address]  WITH CHECK ADD  CONSTRAINT [FK_Address_Account] FOREIGN KEY([AccountId])
REFERENCES [Accounts] ([AccountId])
GO
ALTER TABLE [Address] CHECK CONSTRAINT [FK_Address_Account]
GO
ALTER TABLE [Messages]  WITH CHECK ADD  CONSTRAINT [FK_Messages_Accounts_FromUserId] FOREIGN KEY([FromUserId])
REFERENCES [Accounts] ([AccountId])
GO
ALTER TABLE [Messages] CHECK CONSTRAINT [FK_Messages_Accounts_FromUserId]
GO
ALTER TABLE [Oder_Items]  WITH CHECK ADD  CONSTRAINT [FK_Oder_Items_Oders] FOREIGN KEY([OderId])
REFERENCES [Oders] ([OdersId])
GO
ALTER TABLE [Oder_Items] CHECK CONSTRAINT [FK_Oder_Items_Oders]
GO
ALTER TABLE [Oder_Items]  WITH CHECK ADD  CONSTRAINT [FK_Oder_Items_Product] FOREIGN KEY([ProductId])
REFERENCES [Products] ([ProductId])
GO
ALTER TABLE [Oder_Items] CHECK CONSTRAINT [FK_Oder_Items_Product]
GO
ALTER TABLE [Oders]  WITH CHECK ADD  CONSTRAINT [FK_Oders_Account] FOREIGN KEY([AccountId])
REFERENCES [Accounts] ([AccountId])
GO
ALTER TABLE [Oders] CHECK CONSTRAINT [FK_Oders_Account]
GO
ALTER TABLE [Oders]  WITH CHECK ADD  CONSTRAINT [FK_Oders_Discount] FOREIGN KEY([DiscountId])
REFERENCES [Discounts] ([DiscountId])
GO
ALTER TABLE [Oders] CHECK CONSTRAINT [FK_Oders_Discount]
GO
ALTER TABLE [Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_Oders] FOREIGN KEY([OdersId])
REFERENCES [Oders] ([OdersId])
GO
ALTER TABLE [Payments] CHECK CONSTRAINT [FK_Payments_Oders]
GO
ALTER TABLE [Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_PaymentMethods] FOREIGN KEY([PaymentMethodsId])
REFERENCES [PaymentMethods] ([PaymentMethodsId])
GO
ALTER TABLE [Payments] CHECK CONSTRAINT [FK_Payments_PaymentMethods]
GO
ALTER TABLE [Products]  WITH CHECK ADD  CONSTRAINT [FK_Product_Product_Inventory] FOREIGN KEY([Product_InventoryId])
REFERENCES [Products_Inventorys] ([Product_InventoryId])
GO
ALTER TABLE [Products] CHECK CONSTRAINT [FK_Product_Product_Inventory]
GO
ALTER TABLE [Products]  WITH CHECK ADD  CONSTRAINT [FK_Product_ProductType] FOREIGN KEY([ProductTypeId])
REFERENCES [ProductTypes] ([ProductTypeId])
GO
ALTER TABLE [Products] CHECK CONSTRAINT [FK_Product_ProductType]
GO
ALTER TABLE [Receipt_Products]  WITH CHECK ADD  CONSTRAINT [FK_Receipt_Product_Product] FOREIGN KEY([ProductId])
REFERENCES [Products] ([ProductId])
GO
ALTER TABLE [Receipt_Products] CHECK CONSTRAINT [FK_Receipt_Product_Product]
GO
ALTER TABLE [Shipments]  WITH CHECK ADD  CONSTRAINT [FK_Shipments_Oders] FOREIGN KEY([OdersId])
REFERENCES [Oders] ([OdersId])
GO
ALTER TABLE [Shipments] CHECK CONSTRAINT [FK_Shipments_Oders]
GO
ALTER TABLE [Shipments]  WITH CHECK ADD  CONSTRAINT [FK_Shipments_ShippingMethods] FOREIGN KEY([ShippingMethodsId])
REFERENCES [ShippingMethods] ([ShippingMethodsId])
GO
ALTER TABLE [Shipments] CHECK CONSTRAINT [FK_Shipments_ShippingMethods]
GO
USE [master]
GO
